/* Root Styles */
:root {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Base Color Variables */
  --primary: rgba(53, 65, 77, 1);
  --primaryrgb: 53, 65, 77;
  --secondary: rgba(134, 156, 113, 1);
  --secondaryrgb: 134, 156,113;
  --tertiary1: rgba(198, 182, 129, 1);
  --tertiary1rgb: 198, 182, 129;
  --tertiary2: rgba(30, 38, 45, 1);
  --tertiary2rgb: 30, 38, 45;
  --tertiary3: rgba(67, 111, 88, 1);
  --tertiary3rgb: 67, 111, 88;
  --info: #2F80ed;
  --success: #00ff6c;
  --warning: #ffc700;
  --error: #ff0000;
  --black1: #000000;
  --black1rgb: 0, 0, 0;
  --black2: #1d1d1d;
  --black3: #282828;
  --white: #ffffff;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #bdbdbd;
  --gray5: #e0e0e0;
}

h1, h2, h3, h4, h5, h6, th {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--primary);
  font-weight: bold;
}

h1 {
  font-size: 56px;
  line-height: 1.1;
}

p {
  margin-bottom: calc(1.4em - 16px);
}

body {
  height: 100vh;
  width: 100vw;
  background: url('assets/Loft.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Buttons and Link "Buttons" */
button, .button {
  min-width: 100px;
  min-height: 38px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 4px;
  padding: 2px 20px;
  text-decoration: none;
  border: none;
  border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><rect width="100" height="100" fill="none" stroke="#000" stroke-width="4"/><rect x="4" y="4" width="92" height="92" fill="none" stroke="#888" stroke-width="4"/></svg>') 4 / 4px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.button {
  padding: 5px 20px;
  margin: 5px;
}

button:hover, .button:hover {
  background-color: var(--tertiary2);
  cursor: pointer;
  text-decoration: none;
}

button:active, .button:active {
  filter: grayscale(0.3);
}

.button-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  min-height: 38px;
  min-width: 100px;
  background-color: var(--secondary);
  padding: 5px 20px;
  margin: 5px;
  border-radius: 4px;
  color: var(--white);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
  border-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><rect width="100" height="100" fill="none" stroke="#000" stroke-width="4"/><rect x="4" y="4" width="92" height="92" fill="none" stroke="#888" stroke-width="4"/></svg>') 4 / 4px;
}

.button-secondary:hover {
  background-color: var(--tertiary3);
}

/* Links */
a:hover {
  color: var(--white);
  text-decoration: none;
}

/* Tables */
.table {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  border: 6px solid var(--primary);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
  border-radius: 8px;
  background-color: rgba(var(--tertiary1rgb), 0.6);
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: var(--tertiary1);
}

/* Cards */
.card {
  border: 6px solid var(--primary);
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
  padding: 10px;
  text-align: center;
  max-width: 550px;
  min-width: 175px;
  background-color: rgba(var(--secondaryrgb), .6);
  margin-top: 170px;
}

.card-title {
  font-weight: bold;
  font-size: x-large;
}

.card-subtitle {
  font-weight: 570;
  font-size: large;
  background-color: rgba(var(--tertiary1rgb), 0.6);
}

.card-listgroup-item {
  background-color: rgba(var(--tertiary1rgb), 0.267);
  padding: 10px;
}