.equipment-form {
    height: auto;
    width: auto; 
    margin-top: -40px;
}

.filter-form {
    height: 100%;
    width: 100%;
    border: 6px solid var(--primary);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
    background-color: rgba(var(--tertiary1rgb), 0.6);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: scroll;
    padding-top: 100px;
}

.filter-form-inputs {
    width: 50%;
    margin: auto;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .filter-form {
        margin-top: 80px;
    }

    .equipment-form {
        margin-top: 100px;
    }
}