.container-fluid {
    height: 95vh;
    width: 96vw;
    display: flex;
    gap: 25px;
}

.menu {
    height: 40vh;
    width: 30vw;
    margin: auto;
}

.list-group {
    height: 100%;
    width: 100%;
    border: 6px solid var(--primary);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(var(--black1rgb), 0.466);
    display: table;
}

.list-group-equipment {
    height: 25%;
    width: 100%;
    border: 1px solid var(--gray3);
    background-color: rgba(var(--secondaryrgb), 0.8);
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 20px;
}

.badge {
    background-color: var(--primary);
    color: var(--tertiary1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
}

.right-pane {
    height: 75vh;
    width: 75vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow-x: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.466);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    .container-fluid {
        flex-direction: column;
    }

    .menu {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 180px;
    }

    .list-group {
        display: flex;
        flex-direction: column;
    }

    .list-group-equipment {
        height: auto;
    }

    .right-pane {
        height: auto;
        width: 100%;
    }
}