.card-group {
    width: 95vw;
}

.button-container {
    padding: 10px;
}

.button-wrapper {
    margin-right: 10px;
    margin-bottom: 5px;
  }

@media (max-width: 767px) {
   .custom-card-group {
    margin-top: 70rem;
    } 
}